<div style="text-align:center">
    <h1>Pide tu coche</h1>
</div>
<div style="text-align:center">
<form ng-submit="vm.processForm()" name="formData" id="formData">
    <div>
        <label for="type">Type</label>
        <select id="type" required ng-model="vm.result['type']" >
            <option ng-repeat="(id, value) in vm.options.configurationTypes" value="{{value.value}}">{{value.label}}</option>
        </select>
    </div>
    <div>
        <label for="bodyEngine">Body engine</label>
        <select id="bodyEngine" required ng-model="vm.result['bodyEngine']" ng-show="vm.result['type'] == 'normal'">
            <option ng-repeat="(id, value) in vm.bodyEngineNormal" value="{{value.value}}">{{value.label}}</option>
        </select>
        <select id="bodyEngine" required ng-model="vm.result['bodyEngine']" ng-show="vm.result['type'] == 'sport'">
            <option ng-repeat="(id, value) in vm.bodyEngineSport" value="{{value.value}}">{{value.label}}</option>
        </select>
    </div>
    <div ng-show="vm.result['type'] == 'normal'">
        <label for="engine">Engine</label>
        <select id="engine" required ng-model="vm.result['engine']">
            <option ng-repeat="(id, value) in vm.engineNormal" value="{{value.value}}">{{value.label}}</option>
        </select>
    </div>
    <div ng-show="vm.result['type'] == 'normal'">
        <label for="transmission">Transmission</label>
        <select id="transmission" required ng-model="vm.result['transmission']">
            <option ng-repeat="(id, value) in vm.transmissionNormal" value="{{value.value}}">{{value.label}}</option>
        </select>
    </div>
    <div ng-show="vm.result['type'] == 'normal'">
        <label for="finish">Finish</label>
        <select id="finish" required ng-model="vm.result['finish']">
            <option ng-repeat="(id, value) in vm.finishNormal" value="{{value.value}}">{{value.label}}</option>
        </select>
    </div>
    <div>
        <label for="tires">Tires</label>
        <select id="tires" required ng-model="vm.result['tires']" ng-show="vm.result['type'] == 'normal'">
            <option ng-repeat="(id, value) in vm.tiresNormal" value="{{value.value}}">{{value.label}}</option>
        </select>
        <select id="tires" required ng-model="vm.result['tires']" ng-show="vm.result['type'] == 'sport'">
            <option ng-repeat="(id, value) in vm.tiresSport" value="{{value.value}}">{{value.label}}</option>
        </select>
    </div>
    <div ng-show="vm.result['type'] == 'normal'">
        <label for="color">Color</label>
        <select id="color" required ng-model="vm.result['color']">
            <option ng-repeat="(id, value) in vm.colorNormal" value="{{value.value}}">{{value.label}}</option>
        </select>
    </div>
    <div ng-show="vm.result['type'] == 'sport'">
        <label for="colorSport">Color Sport</label>
        <select id="colorSport" required ng-model="vm.result['colorSport']">
            <option ng-repeat="(id, value) in vm.colorsSport" value="{{value.value}}">{{value.label}}</option>
        </select>
    </div>
    <div>
        <label for="extras">Extras</label><br>
        <select id="extras" required ng-model="vm.result['extras']" multiple ng-show="vm.result['type'] == 'normal'">
            <option ng-repeat="(id, value) in vm.extrasSport" value="{{value.value}}">{{value.label}}</option>
        </select>
        <select id="extras" required ng-model="vm.result['extras']" multiple ng-show="vm.result['type'] == 'sport'">
            <option ng-repeat="(id, value) in vm.extrasSport" value="{{value.value}}">{{value.label}}</option>
        </select>
    </div>
    
    <div>
        <label for="comments">Comments</label><br>
        <textarea id="comments" type="text" value="{{vm.result['comments']}}" ng-model="vm.result['comments']" required></textarea>
    </div>
    <div>
        <label for="cp" style="display:inline;">CP</label>
        <input id="cp" type="number" value="{{vm.result['cp']}}" ng-model="vm.result['cp']" placeholder="28001" required min=0>
        <span class="error" ng-show="formData.input.$error.number">El CP debe ser un número</span>
    </div>
    <div>
        <label for="email" style="display:inline;">Email</label>
        <input id="email" type="email" value="{{vm.result['email']}}" placeholder="alguien@algo.com" ng-model="vm.result['email']" required>
        <span class="error" ng-show="formData.input.$error.email">El email debe ser válido</span>
    </div>
    <div>
        <input type="submit"></input>
    </div>
</form>
<div ng-show="vm.showModal" modal="vm.showModal" close="vm.cancel()">
    <div class="modal-header">
        
    </div>
    <div class="modal-body">
        <p>{{vm.loadingText}}</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="vm.ok()">Okay</button>
      <button class="btn" ng-click="vm.cancel()">Cancel</button>
    </div>
  </div>
</div>